<div class="col-sm-2">
  <a href="#" class="btn btn-primary btn-booking" data-toggle="modal" data-target="#exampleModal">Booking</a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t "detail.choose" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form-group">
          <label><%= t"detail.date" %></label>
          <input id="datetime" type="date" name="book_date" class="datatime">
          <br>
          <label for="hours"><%= t"detail.time" %></label>

          <select name="hours" id="hours" class="hours">
            <option value="5">5h</option>
            <option value="6">6h</option>
            <option value="7">7h</option>
            <option value="8">8h</option>
          </select>

          <br>
          <label for="type"><%= t"detail.type" %></label>

          <select name="type" id="type" class="type">
            <option value="5">5</option>
            <option value="6">7</option>
            <option value="7">11</option>
          </select>
          <hr>
          <label>San bong ABC</label>
          <div class="row">
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">1</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">2</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">3</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">4</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">5</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">6</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">7</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">8</a>
            </div>
            <div class="col-xl-2 yard">
              <a class="btn btn-primary" href="#">9</a>
            </div>
          </div>
          <hr>
          <div class="col-xl-12 d-flex justify-content-end">
            <button type="button" class="btn btn-primary mr-3">
              <%= t "booking.name"%>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <%= t "base.cancel"%>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
