<% provide(:title, t(".news.title")) %>
<div class="col-lg-9">
 <div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><%= t ".news.h1" %></h2>
        </div>
        <div class="panel-body">
          <%= form_for(:session, url: login_path) do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.email_field :email, class: "form-control", placeholder: t(".news.email") %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: "form-control", placeholder: t(".news.password") %>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <%= raw t ".news.remember" %>
                  <% end %>
                </label>
              </div>
              <%= f.submit t(".news.login"), class: "btn btn-lg btn-success btn-block" %>
              <p> <%= t ".news.newuser" %> <%= link_to t(".news.signup"), signup_path %></p>
            </fieldset>
          <% end %>
          <hr/>
          <center><h4><% t "session.new.or" %></h4></center>
          <p><%= link_to fa_icon("facebook", text: t(".news.facebook")), "#", class: "btn btn-primary" %></p>
          <p><%= link_to fa_icon("google", text: t(".news.google")), "#",class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
