<tr>
  <td> <%= location.name %> </td>
  <td> <%= location.phone %> </td>
  <td> <%= location.address %> </td>
  <td>
    <%= link_to t("detail.name"), "#", class: "btn btn-primary" %>
    <%= link_to t("booking.edit"),edit_admin_location_path(location.id), class: "btn btn-primary" %>
    <%= link_to t("booking.delete"), "#", class: "btn btn-danger" %>
  </td>
</tr>
