<% provide(:title, @user.name) %>
<div class="col-lg-9">
  <form method="post">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-img">
          <%= image_tag @user.displayed_image, loading: "lazy", alt: @user.name, class: "rounded-full" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%= @user.name %>
          </h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
            <p class="nav-link active"><%= t("show.about") %> </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label><%= t "show.name" %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t "show.email" %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.email %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t "show.phone" %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.phone %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
