<div class="col-lg-3">
  <% if logged_in? && current_user.admin? %>
    <h1 class="my-4"><%= t "menu_manager.title" %> </h1>
    <div class="list-group">
      <%= link_to t("menu_manager.booking_field"), admin_bookings_path, class:"list-group-item" %>
      <%= link_to t("menu_manager.user"), "#", class:"list-group-item" %>
      <%= link_to t("menu_manager.revenue"), "#", class:"list-group-item" %>
      <%= link_to t("menu_manager.field"), admin_locations_path, class:"list-group-item" %>
    </div>
  <% else %>
  <h1 class="my-4"><%= t "base.location" %></h1>
    <div class="list-group">
      <%= link_to t("district.tk"), "#", class:"list-group-item" %>
      <%= link_to t("district.st"), "#", class:"list-group-item" %>
      <%= link_to t("district.nhs"), "#", class:"list-group-item" %>
      <%= link_to t("district.lc"), "#", class:"list-group-item" %>
      <%= link_to t("district.hc"), "#", class:"list-group-item" %>
      <%= link_to t("district.cl"), "#", class:"list-group-item" %>
      <%= link_to t("district.hv"), "#", class:"list-group-item" %>
      <%= link_to t("district.hs"), "#", class:"list-group-item" %>
    </div>
  <% end %>
</div>
