<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= yield(:base_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= link_to t("en"), locale: :en %>
    <%= link_to t("vi"), locale: :vi %>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "layouts/message" %>
      <div class="row">
        <%= render "layouts/menu" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
